/* scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* header font */
@font-face {
    font-family: "Monocraft";
    src: url("./misc/Monocraft.otf") format("opentype");
}

/* broad css */
body {
    /* Dark-mode style */
    background-color: #313131;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0px;
}
h1 {
    margin: 0px;
}
textarea {
    min-width: 400px;
    max-width: 400px;
    min-height: 100px;
    max-height: 500px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    font-family: "misc/monocraft-webfont.woff";
    box-sizing: border-box;
    padding: 5px;
    word-wrap:normal;
    cursor: text;
}
a {
    color: rgb(83, 210, 226);
}
ul > ul {
    padding-left: 20px;
    margin-top: 0px;
    padding-bottom: 10px;
}

/* specific css */
.navbar {
    text-align: center;
    background-color: #121212;
    padding: 50px;
    font-size: 50px;
    font-family: "Monocraft";
}
.navbar h1 {
    line-height: 100px;
}
.page-content {
    margin: 20px;
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-template-rows: 0fr 1fr;
}
.forewarning {
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}
.convert-area {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgb(0, 136, 136);
    width: 400px;
    padding: 20px;
    margin: 20px 0px;
    height: min-content;
}
.convert-area > .status {
    font-size: 25px;
    font-weight: bold;
}
.convert-area > .status #status {
    font-size: 80%;
}
.convert-area input {
    /* work on it late */
    display: block;
}
.convert-area button {
    width: 80%;
    background-color: #35c2f2;
    border-radius: 5px;
    font-size: 20px;
    border: 2px solid black;
}
.tipsndirections {
    padding-top: 20px;
}
.tipsndirections > .title {
    font-size: 30px;
    padding-left: 30px;
}
.tipsndirections > ul {
    margin-top: 5px;
    font-size: large;
}
li.warning {
    font-size: 125%;
    color: red;
    list-style-type: none;
    font-weight: 600;
    text-transform:uppercase;
}